<!DOCTYPE HTML>
<html>
<head>
    <title>JSON To Velocity Template Converter for AWS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="aws apigateway, VTL utility, velocity template language tool, convert json to vtl, json to vtl conversions, aws request mapping helper">
    <meta name="description" content="Free Online tool to help easily convert JSON to Velocity templates (VTL)">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />
</head>
<body>
    <router-outlet></router-outlet>
</body>
</html>
